html {
  height: 100%;
  width: 100%;
}
body {
  margin-left: 10px;
  margin-right: 10px;
}
header {
  background-color: black;
}
header div h1 {
  color: white;
  text-align: left;
  margin-left: 20px;
}

.img-header {
  text-align: right;

}

.perfil1 {
  height: 40%;
  width: 40%;
}

section {
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
}
.card-body {
  text-align: center;
}
.box-shadow { box-shadow:10px 10px 10px black; }

footer {
  background-color: black;
  text-align: center;
}

.title-footer {
  color: white;
}

.footer-link img {
  block-size: 32px;
  inline-size: 32px;
}
.fondo img {
  width: 50%;
  height:50%;
}


.pie {
  color: white;
}


.red {
  display: initial;
}

.img {
  height: 50px;
  width: 50px;
  margin-left: 2px;
  margin-right: 2px;
  margin-top: 2px;
  margin-bottom: 2px;
}

.pagos_web {
  text-align: center;
  height: 150px;
  width: 150px;
  margin-left: 2px;
  margin-right: 2px;
  margin-top: 2px;
  margin-bottom: 2px;
}

.pagos_web_qr{
  text-align: center;
  height: 33%;
  width: 33%;
  margin-left: 2px;
  margin-right: 2px;
  margin-top: 2px;
  margin-bottom: 2px;
}




